<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>go!go!go!</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<style>
    iframe {
        width: 500px;
        height: 500px;
    }
</style>
<body>
    <h2> 二维码生成中.....</h2>
</body>
<script src="lib/jq-min-2.0.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/socket.js"></script>
</html>